div#content
{
    padding:20px 20px 40px 20px;
    background:#FFF;
}
div.book,
div.part
{
    padding:0 0 30px 0;
}

div#footer
{
    background:#DDD; 
    padding:10px 20px 20px 30px;
    color:#333;
    font-size:90%;
    border-top:1px solid #AAA;
}





div#header{
    background-image: url("http://www.postgresql.org/layout/images/docs/bg_hdr.png");
    height: 83px;
    margin: 0px;
    padding: 0px;
    display: block;
}
div#header_sx
{
    float:left;
}
div#header_dx
{
    float:right;
    padding:5px;
}


